In [1]:
import pandas as pd
import numpy as np
from biopandas.pdb import PandasPdb

In [2]:
arquivo = './temp/file_21.pdb'
ppdb = PandasPdb()
ppdb.read_pdb(arquivo)
ppdb.df.keys()

dict_keys(['ATOM', 'HETATM', 'ANISOU', 'OTHERS'])

In [3]:
atom = ppdb.df['ATOM']
hetatm = ppdb.df['HETATM']
total = pd.concat([atom, hetatm], axis=0, sort=False)
total

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,ASN,,A,334,,...,-97.586,-23.391,20.863,1.0,78.72,,,N,NaN,561
1,ATOM,2,,CA,,ASN,,A,334,,...,-96.574,-24.445,20.926,1.0,87.70,,,C,NaN,563
2,ATOM,3,,C,,ASN,,A,334,,...,-95.340,-24.083,20.097,1.0,87.53,,,C,NaN,565
3,ATOM,4,,O,,ASN,,A,334,,...,-95.282,-24.384,18.912,1.0,82.66,,,O,NaN,567
4,ATOM,5,,CB,,ASN,,A,334,,...,-97.160,-25.779,20.445,1.0,96.18,,,C,NaN,569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,HETATM,5366,,O,,HOH,,L,480,,...,-30.302,-41.654,10.801,1.0,64.14,,,O,NaN,10774
529,HETATM,5367,,O,,HOH,,L,481,,...,-11.951,-27.765,13.115,1.0,47.08,,,O,NaN,10775
530,HETATM,5368,,O,,HOH,,L,482,,...,-26.426,-37.669,1.385,1.0,50.33,,,O,NaN,10776
531,HETATM,5369,,O,,HOH,,L,483,,...,-28.519,-39.329,2.278,1.0,57.81,,,O,NaN,10777
532,HETATM,5370,,O,,HOH,,L,484,,...,-17.234,-32.629,12.415,1.0,45.02,,,O,NaN,10778

In [4]:
total = total.drop(['atom_number','b_factor','alt_loc','line_idx',\
                    'occupancy', 'element_symbol','charge','insertion',\
                    'segment_id','blank_1','blank_2', 'blank_3', 'blank_4'], axis=1)
total.columns

Index(['record_name', 'atom_name', 'residue_name', 'chain_id',
       'residue_number', 'x_coord', 'y_coord', 'z_coord'],
      dtype='object')

In [5]:
total

,record_name,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord
0,ATOM,N,ASN,A,334,-97.586,-23.391,20.863
1,ATOM,CA,ASN,A,334,-96.574,-24.445,20.926
2,ATOM,C,ASN,A,334,-95.340,-24.083,20.097
3,ATOM,O,ASN,A,334,-95.282,-24.384,18.912
4,ATOM,CB,ASN,A,334,-97.160,-25.779,20.445
...,...,...,...,...,...,...,...,...
528,HETATM,O,HOH,L,480,-30.302,-41.654,10.801
529,HETATM,O,HOH,L,481,-11.951,-27.765,13.115
530,HETATM,O,HOH,L,482,-26.426,-37.669,1.385
531,HETATM,O,HOH,L,483,-28.519,-39.329,2.278
532,HETATM,O,HOH,L,484,-17.234,-32.629,12.415

In [22]:
final= pd.read_table("./output/arquivo1.txt", delimiter="\t\t",header= None)
colunas = ["TIPO_INTERAÇÃO", "TIPO_ATOMO1", "RESIDUO_AMINOACIDO1", "CADEIA_AMINOACIDO1", "TIPO_ATOMO2", "RESIDUO_AMINOACIDO2", "CADEIA_AMINOACIDO2", "DISTANCIA"]
for i in range(len(colunas)):
    final.rename(columns={i: colunas[i]}, inplace=True)

C:\Users\kaiky\AppData\Local\Temp\ipykernel_2924\2340269697.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  final= pd.read_table("./output/arquivo1.txt", delimiter="\t\t",header= None)

In [23]:
print(final.to_string()[:3000])

     TIPO_INTERAÇÃO TIPO_ATOMO1 RESIDUO_AMINOACIDO1 CADEIA_AMINOACIDO1 TIPO_ATOMO2 RESIDUO_AMINOACIDO2 CADEIA_AMINOACIDO2  DISTANCIA
0     Van_der_Waals          CB                 MET              A   1          CE                 MET              A   1   4.180787
1     Pi_stacking             N                 TYR              A   3          CA                 TYR              A   3   0.000000
2       Salt_Bridge         NH1                 ARG              A   4         OE2                 GLU              A  99   2.846391
3       Salt_Bridge         NH1                 ARG              A   8         OD2                 ASP              A 106   2.930294
4       Salt_Bridge         NH2                 ARG              A   8         OE2                 GLU              A  91   3.113340
5       Salt_Bridge         NH2                 ARG              A   8         OE2                 GLU              A  99   2.812513
6       Salt_Bridge         OD2                 ASP              A   9          NZ                 LYS              A  36   2.811000
7     Pi_stacking             N                 PHE              A  12          CA                 PHE              A  12   0.000000
8     Pi_stacking             N                 PHE              A  12         CD2                 TYR              A 114   5.138133
9     Van_der_Waals          CB                 LEU              A  13         CD1                 LEU              A  13   2.521275
10    Van_der_Waals          CB                 LEU              A  13         CD2                 LEU              A  13   2.514239
11    Van_der_Waals          CB                 LEU              A  13          CB                 VAL              A  14   5.308849
12    Van_der_Waals          CB                 LEU              A  13         CG2                 VAL              A  14   5.088393
13    Van_der_Waals          CB                 LEU              A  13          CB                 VAL              A  32   4.650835
14    Van_der_Waals          CB                 LEU              A  13         CG1                 VAL              A  32   4.044174
15    Van_der_Waals          CB                 LEU              A  13         CG2                 VAL              A  32   3.953936
16    Van_der_Waals         CD1                 LEU              A  13         CD2                 LEU              A  13   2.502161
17    Van_der_Waals         CD2                 LEU              A  13         CG1                 VAL              A  32   4.545224
18    Van_der_Waals          CB                 VAL              A  14         CG1                 VAL              A  14   1.523776
19    Van_der_Waals          CB                 VAL              A  14         CG2                 VAL              A  14   1.523996
20    Van_der_Waals          CB                 VAL              A  14          CB                 LEU              A  15   5.304061
21    Van_der_Waals          CB                 VAL              A  14

In [34]:
teste= pd.read_table("./output/arquivo1.txt")

In [43]:
teste['Distance'][65]

4.814568241955383

None

c:\Users\kaiky\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\clipboards.py:141: UserWarning: to_clipboard with excel=False ignores the sep argument.
  warnings.warn("to_clipboard with excel=False ignores the sep argument.")