In [2]:
import pandas as pd
import numpy as np
from biopandas.pdb import PandasPdb

In [3]:
arquivo = './temp/file_21.pdb'
ppdb = PandasPdb()
ppdb.read_pdb(arquivo)
ppdb.df.keys()

dict_keys(['ATOM', 'HETATM', 'ANISOU', 'OTHERS'])

In [4]:
atom = ppdb.df['ATOM']
hetatm = ppdb.df['HETATM']
total = pd.concat([atom, hetatm], axis=0, sort=False)
total

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,ASN,,A,334,,...,-97.586,-23.391,20.863,1.0,78.72,,,N,NaN,561
1,ATOM,2,,CA,,ASN,,A,334,,...,-96.574,-24.445,20.926,1.0,87.70,,,C,NaN,563
2,ATOM,3,,C,,ASN,,A,334,,...,-95.340,-24.083,20.097,1.0,87.53,,,C,NaN,565
3,ATOM,4,,O,,ASN,,A,334,,...,-95.282,-24.384,18.912,1.0,82.66,,,O,NaN,567
4,ATOM,5,,CB,,ASN,,A,334,,...,-97.160,-25.779,20.445,1.0,96.18,,,C,NaN,569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,HETATM,5366,,O,,HOH,,L,480,,...,-30.302,-41.654,10.801,1.0,64.14,,,O,NaN,10774
529,HETATM,5367,,O,,HOH,,L,481,,...,-11.951,-27.765,13.115,1.0,47.08,,,O,NaN,10775
530,HETATM,5368,,O,,HOH,,L,482,,...,-26.426,-37.669,1.385,1.0,50.33,,,O,NaN,10776
531,HETATM,5369,,O,,HOH,,L,483,,...,-28.519,-39.329,2.278,1.0,57.81,,,O,NaN,10777
532,HETATM,5370,,O,,HOH,,L,484,,...,-17.234,-32.629,12.415,1.0,45.02,,,O,NaN,10778

In [5]:
total = total.drop(['atom_number','b_factor','alt_loc','line_idx',\
                    'occupancy', 'element_symbol','charge','insertion',\
                    'segment_id','blank_1','blank_2', 'blank_3', 'blank_4'], axis=1)
total.columns

Index(['record_name', 'atom_name', 'residue_name', 'chain_id',
       'residue_number', 'x_coord', 'y_coord', 'z_coord'],
      dtype='object')

In [6]:
total

,record_name,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord
0,ATOM,N,ASN,A,334,-97.586,-23.391,20.863
1,ATOM,CA,ASN,A,334,-96.574,-24.445,20.926
2,ATOM,C,ASN,A,334,-95.340,-24.083,20.097
3,ATOM,O,ASN,A,334,-95.282,-24.384,18.912
4,ATOM,CB,ASN,A,334,-97.160,-25.779,20.445
...,...,...,...,...,...,...,...,...
528,HETATM,O,HOH,L,480,-30.302,-41.654,10.801
529,HETATM,O,HOH,L,481,-11.951,-27.765,13.115
530,HETATM,O,HOH,L,482,-26.426,-37.669,1.385
531,HETATM,O,HOH,L,483,-28.519,-39.329,2.278
532,HETATM,O,HOH,L,484,-17.234,-32.629,12.415